@use '../abstracts' as *;

.sticky {
    position: sticky;
    top: 65px;
}

.header-wrap {
    transition: min-height 0.25s ease;
}

.header-wrap-inner {
	&.sticky {
	    position: fixed;
	    left: 0;
	    top: 0;
	    right: 0;
	    min-width: 320px;
	    background: #fff;
	    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
	    z-index: 150;
	    -webkit-animation: stuckMoveDown .6s;
	    animation: stuckMoveDown .6s;
	}
}

.header-logo {
    padding-left: 15px;
    font-family: 'EB Garamond';

    a {
        text-decoration: unset !important;

        &.logo {
            margin-right: 10px;
            margin-left: 5px;
        }
    }

    .brand-name {
        font-size: 23px;
        padding-top: 20px;
        font-weight: bold;

        .br-1 {
            color: #003366;
        }

        .br-2 {
            color: #4CAF50;
        }

        .br-3 {
            top: 7px;
            right: 0px;
            color: #003366;
            font-size: 0.6em;
        }
    }

    div.logo {
        margin-top: -5px;
        margin-bottom: 5px;

        > .brand-name {
            > span {
                margin-left: 8px;
                font-size: 12px;
                font-weight: 400;
                opacity: 0.6;
            }
        }
    }

    div.slg-actd {
        bottom: 0;

        > span.slogan-actd {
            font-size: 16px;
            float: left;
            text-transform: none;
            font-style: italic;
            font-weight: normal;
            color: red;
        }
    }

    #logo-img {
        width: 70px;
        transition: all 0.2s ease;
    }
}

.header-mobile,
.header-sidebar-mobile {
    #logo-img {
      width: 60px;
    }

    a.logo-link {
      margin-right: 2px;
    }

    .brand-name {
      font-size: 18px;
      font-weight: 500;
    }
}

@-webkit-keyframes stuckMoveDown {
    0% {
        transform: translateY(-100%)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes stuckMoveDown {
    0% {
        transform: translateY(-100%)
    }

    to {
        transform: translateY(0)
    }
}