@use '../abstracts' as *;

.main-menu {
	ul {
		display: none;
	    align-items: center;
	    justify-content: flex-start;

		@include mq(xl) {
		    display: flex;
		}

		> li {
			> a {
				display: inline-flex;
			    align-items: center;
			    justify-content: center;
		        column-gap: calc(var(--spacing) * 1.5);
			    padding-inline: calc(var(--spacing) * 1.5);
			    padding-block: calc(var(--spacing) * 1.5);
			    font-size: var(--text-xs);
			    line-height: var(--tw-leading, var(--text-base--line-height));
			    line-height: calc(var(--spacing) * 6);
			    font-weight: var(--font-weight-medium);
			    color: var(--header-light-color);
			    text-decoration: none;
			    text-transform: uppercase;
			}
		}

		&.nav {
			> li {
				&.current-menu-item {
	    			background-color: var(--main-color);
	    			
	    			> a {
	    				color: #fff;
	    			}
	    		}
			}
		}

    	li {
    		&.menu-item-has-children {
			    position: relative;

			    &:hover {
			    	> ul {
		    		    visibility: visible;
					    --tw-translate-y: calc(var(--spacing) * 0);
					    translate: var(--tw-translate-x) var(--tw-translate-y);
					    opacity: 100%;
			    	}
			    }
			}

			> ul {
				visibility: hidden;
			    position: absolute;
			    top: 100%;
			    left: calc(0.25rem * 0);
			    z-index: 50;
			    width: 250px;
		        --tw-translate-y: calc(var(--spacing) * 4);
			    translate: var(--tw-translate-x) var(--tw-translate-y);
			    transform: var(--tw-rotate-x, ) var(--tw-rotate-y, ) var(--tw-rotate-z, ) var(--tw-skew-x, ) var(--tw-skew-y, );
			    background-color: #6697a1;
			    padding-block: calc(var(--spacing) * 1);
			    opacity: 0%;
			    --tw-shadow: 0px 24px 48px 0px var(--tw-shadow-color, rgba(145, 158, 171, 0.12));
			    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
			    transition-property: all;
			    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
			    transition-duration: var(--tw-duration, var(--default-transition-duration));
			    --tw-duration: 300ms;
			    transition-duration: 300ms;
			    flex-flow: column;
    			align-items: flex-start;
			}
    	}
	}
}

.mobile-menu > ul {
  display: flex;
  flex-direction: column;
  :where(& > :not(:last-child)) {
    --tw-divide-y-reverse: 0;
    border-bottom-style: var(--tw-border-style);
    border-top-style: var(--tw-border-style);
    border-top-width: calc(1px * var(--tw-divide-y-reverse));
    border-bottom-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  }
  :where(& > :not(:last-child)) {
    border-color: rgba(145,158,171,0.21);
  }
  padding-inline: calc(var(--spacing) * 2);
}

.mobile-menu {
	ul {
		li {
			padding-block: calc(var(--spacing) * 2);

			&.has-sub-item {
			  position: relative;
			}

			a {
				  font-size: var(--text-sm);
				  line-height: var(--tw-leading, var(--text-sm--line-height));
				  --tw-leading: 22px;
				  line-height: 22px;

				&.active {
					  color: var(--color-primary);
				}
			}

			.submenu-button {
			  position: absolute;
			  top: calc(var(--spacing) * 0);
			  right: calc(var(--spacing) * 0);
			  display: inline-flex;
			  width: calc(var(--spacing) * 10);
			  height: calc(var(--spacing) * 10);
			  cursor: pointer;
			  align-items: center;
			  justify-content: center;

			  &:not(.submenu-opened)::before {
				  font-family: "hgi-stroke-rounded";
				  font-size: 16px;
				  line-height: 22px;
				  color: #919eab;
				  content: "㭚";
				  transform: rotate(0deg);
				  transition: transform 0.3s ease-in-out;
				}

				&.submenu-opened::after {
				  font-family: "hgi-stroke-rounded";
				  font-size: 16px;
				  line-height: 22px;
				  color: #919eab;
				  content: "㭚";
				  transform: rotate(-180deg);
				  transition: transform 0.3s ease-in-out;
				}
			}

			ul {
			  display: none;
			  flex-direction: column;
			  padding-top: calc(var(--spacing) * 2);
			  padding-left: calc(var(--spacing) * 2);
			}
		}
	}
}

.search-bar-wrapper {
	.search-form {
		display: none;
    	animation: tabFade 0.5s;
	}

	&:focus-within {
		.search-form {
			display: block;
		}
	}
}

.bg-\[\#d46563\] {
    color: white;
}